.ex-maxheight {
  margin-top: 15px !important;
  min-height: 100vh;
}

.ex-bigbox {
  height: 100%;
}

.ex-flex-container {}


img {
  height: 18vw;
  width: 15vw;
}

a:hover {
  cursor: grab;
}



@media (max-width: 1000px) {
  img {
    height: 30vw;
    width: 25vw
  }
}